*.pyc
__pycache__/
*/__pycache__/
.vscode
.idea/
output
data/
configs/*
!configs/baseline_chest_30k.yaml
!configs/dgr_volume_chest_5k_v2.yaml
!configs/dgr_volume_chest_30k_v3_128.yaml
!configs/dgr_volume_chest_60k_v4_128_strong.yaml
!configs/dgr_volume_chest_60k_v5_128_dense_init.yaml
!configs/dgr_volume_chest_60k_v6_128_antiblock.yaml
!configs/dgr_volume_chest_60k_v7_128_supersample.yaml
!configs/dgr_volume_chest_60k_v8_128_reg.yaml
!configs/acui_refinement_occ_chest_30k.yaml
!configs/acui_refinement_occ_vol_v3_chest_30k.yaml
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
/*.png
/*.pptx
~$*
